html {
  font:
    15px/1.7
    "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.rb__body {
  background: #f3f3f3;
  padding: 1rem;
}

h1 {
  font-size: 2.1rem;
}
h1 ~ h2 {
  font-size: 1.5rem;
}
h1 ~ h3 {
  font-size: 1.25rem;
}
h1 ~ h4 {
  font-size: 1.18rem;
}
h1 ~ h5 {
  font-size: 1.1rem;
}
h1 ~ h6 {
  font-size: 1.03rem;
}

h2 {
  font-size: 2.1rem;
}
h2 ~ h3 {
  font-size: 1.5rem;
}
h2 ~ h4 {
  font-size: 1.25rem;
}
h2 ~ h5 {
  font-size: 1.18rem;
}
h2 ~ h6 {
  font-size: 1.1rem;
}

p > a {
  text-decoration: none;
  color: #427a5b;
}
p > a:hover {
  color: #b4cd93;
}

pre {
  display: inline-block;
  width: 100%;
  bord-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 1rem;
  background: #414141;
  font-size: .85rem;
  color: #f8f8f8;
}

p code {
  background: #e3e3e3;
  border-radius: 3px;
  display: inline-block;
  padding: 0 .5em;
  font-size: .85rem;
}
